*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.toolbox-container{
    height: 5rem;
    background-color: bisque;
    display: flex;
    align-items: center;
}

.toolbox-container > * {
    margin-left: 4rem;
}

.toolbox-priority-container{
    height: 3.5rem;
    width: 16rem;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.color{
    background: rgb(228, 228, 248);
    width: 3rem;
    height: 2rem;
    
}

.red{
    background-color: rgb(247, 140, 140);
}

.green{
    background-color: rgb(152, 250, 152);
}

.blue{
    background-color: rgb(163, 163, 255);
}

.black{
    background-color: rgb(70, 69, 69);
}

.action-btn-container{
    height: 3.5rem;
    width: 8rem;
    background-color: rgb(238, 236, 103);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.add-btn{
    display: flex;
    font-size: 2rem;
    width: 50%;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.add-btn:hover{
    background-color: #aacc00;
}

.remove-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    font-size: 2rem;
}

.remove-btn:hover{
    background-color: #aacc00;
}


/* ----------------main--------------- */

.modal-container{
    position: absolute;
    background-color: khaki;
    height: 40vh;
    width: 50vw;
    top: calc((100vh - 40vh)/2);
    left: calc((100vw - 50vw)/2);
    display: none;
}

.modal-container.active{
    display: flex;
}

.text-area-container{
    height: 100%;
    width: 75%;
    border: none;
    outline: none;
    background-color: rgb(39, 1, 16);
    resize: none;
    color: white;
    font-size: 1.9rem;
    padding: 2rem;

}

.priority-color-container{
    height: 100%;
    width: 25%;
    background-color: rgb(250, 218, 242);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}



.priority-color{
    height: 3rem;
    width: 55%;
    
}

.border{
    border: 4px solid red;
}


.ticket-container{
    height: 10rem;
    width: 15rem;
    background-color: rgb(234, 248, 243);

}

.ticket-color{
    height: 1rem;
    /* background-color: black; */
}

.ticket-id{
    height: 2rem;
    padding: 0.5rem;
   
    
}

.task-area{
    height: calc(100% - 1rem - 2rem - 2rem);
  
    padding: 0.5rem;
}

.main-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    justify-content: center;
}


.ticket-lock{
    height: 2rem;
    color: rgb(129, 129, 129);
    display: flex;
    justify-content: flex-end;
    font-size: 1.8rem;
    padding-right: 1rem;
}